.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color:lightskyblue;
    line-height: 50px;
    font-size: 20px;
}
.header nav a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.header nav a:hover{
    background-color:black;
}